{% extends 'easy_ride/base_template.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'easy_ride/css/style2.css' %}" />
    <link rel="stylesheet" href="{% static 'easy_ride/css/auth.css' %}" />
{% endblock %}

{% block content %}
<main class="container">
    <section id="register" class="auth-section">
        <div class="auth-container">
            <h2 class="auth-title">Регистрация</h2>
            
            <form class="auth-form" method="post">
                {% csrf_token %}
                
                {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                    <div class="error-message">
                        {{ field.errors }}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
                
                <button type="submit" class="auth-btn">Зарегистрироваться</button>
            </form>
        </div>
    </section>
</main>
{% endblock %}